[submodule "frontend"]
	path = frontend
	url = https://github.com/blackstargit/resource-dashboard-frontend
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/blackstargit/resource-dashboard-backend
	branch = main
